<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>世界人口</title>
    <link href="../static/css/main2.css" rel="stylesheet"/>
    <script src="../static/javascrip/jquery.js"></script>
    <script src="../static/javascrip/echarts.min.js"></script>
    <script src="../static/javascrip/word/vintage.js"> </script>
    <script src="../static/javascrip/word/world.js"> </script>
    <script src="../static/javascrip/word/mainer.js"> </script>

</head>
<body>
<div id="title">世界人口数据展示</div>
<div id="l1">zuo1</div>
<div id="l2">zuo2</div>
<div id="c1">
    <div class="num" id="num1"><h1></h1></div>
    <div class="num" id="num2"><h1></h1></div>
    <div class="text"><h2>当前全球</h2></div>
    <div class="text"><h2>中国人口</h2></div>

</div>
<div id="c2"></div>
<div id="r1"></div>
{#<div id="r2">you2</div>#}
{#		<script src="../static/javascrip/ec_center.javascrip"></script>#}
		<script src="../static/javascrip/allyear.js"></script>
		<script src="../static/javascrip/top_now.js"></script>
		<script src="../static/javascrip/partation.js"></script>
		<script src="../static/javascrip/word/maps.js"></script>
{#		<script src="../static/javascrip/word/controller_w.javascrip"></script>#}
</body>
</html>
